<h2>Event Binding Example:View -> Business logic</h2>
<p><b>Example of Event Handling Button Click </b></p>
<button (click)="mySaveFunction()">Click here to save</button>


<p><b>Example of Event Handling: Event Enter Key</b></p>
<input (keyup.enter)="myKeyPress()">

<p><b>Example of Event Handling: Event Enter key </b></p>
<input #userInput (keyup.enter)="myKeyPressWithValue(userInput.value)">

<p [style.backgroundColor]="color">Color Changing</p>
<button (click)="myFun()">Change Color</button>  

<p><b>Example of Event Handling: Event Bubbling </b></p>
<div (click)="myDivButtonEvent()">
  <button (click)="mySaveFunctiontwoWithEvent($event)">Click here to save</button>
</div>